@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
      font-family: "Poppins", sans-serif;
}
.container{
   max-width: 950px;
   margin: 0 auto;

}
a{
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 50px;
}
.logo{
    margin: 10px;
    font-size: 30px;
    font-weight: 800;
    color: #1877c9;
 text-transform: uppercase;

}
.links a{
    margin: 10px;
    text-transform: uppercase;
    color: #020101;
}
.carts{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1877c9;
    padding: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
    margin-top: 30px;
  
   

}
.card{
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
   
   
}
.btn{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #1877c9;
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card .info{
    position: absolute;
    bottom: 0;
    right:0;
    background-color: rgba(44, 44, 46, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    
}
.info span{
    font-size: 1.4rem;
    margin: 10px;
}
.btn-secondary{
    background-color: #e74a0b;
}

.container-cart{
    background-color: #fff;
    box-shadow: 0 0 010px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    place-items: center;

}
.cart-products{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 95%;
  padding: 20px;
  border-right: solid #ccc;
}
.cart-product{
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    place-items: center;
    
    padding: 10px;
    margin: 10px;
    border-top: solid #ccc;
}
.cart-product img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid #ccc;
    padding: 10px;

}
.cart-product span{
    font-size: 1.2rem;
    font-weight: 600;
}
.delete{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.cart-title-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.cart-title-img *{
    margin: 10px;
}
.total{
    border-top: solid #ccc;
}
.payment-card{

    padding: 0;
    margin: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.form-control input{
    width: 72%;
    padding: 20px;
    margin: 0 20px;
  border: 1px solid #ccc;
    color: #fff;
    border-radius: 10px;
   
}
.form-control .proceed{
   
    padding: 20px;
    margin: 10px 20px;
    width: 88%;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #1877c9;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}
.payment{
    text-align: center;
}
.payment-card:hover,
.payment-card.selected{
    background-color: rgba(24, 118, 201, 0.159);
    border-color: rgb(8,92,168);
}


.contact-us{
    text-align: center;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;

}
.contact input{
    padding: 20px;
    border-radius: 9px;
    margin-right: 15px;
    
    border: 1px solid #7db6e7;
}
.contact textarea{
     padding: 40px;
    border-radius: 9px;
    
    border: 1px solid #7db6e7;
}
.contact *:focus{
    border: none;
}

.info{
     width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(218, 216, 216, 0.6);
    padding: 20px;
    border-radius: 7px;

}
.info h3{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
}
.info p{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500; 
    position: absolute;
    top: 90px;
    bottom: 0;
}

.about-us{
    text-align: center;
    width: 60%;
}
.abouts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    width: 100%;
}
.abouts ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 100%;


}
ul li{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
     width: 100%;
    
   
    
}
 span{
    font-size: 20px;
    font-weight: 600;
}
.abouts p{
     font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
     width: 100%;
}